//- Layout after here
header
.timer
    span#time


//- Inline styles after here
style.
  .timer {
      text-align: center;
      font-size: 30px;
      vertical-align: middle;
      display: table-cell;
      height: 7em;
      width: 7em;
  }


//- Inline scripts after here
script.
    // Get the module element
    var module = document.getElementById('widget-#{widget._id}');

    function startTimer(duration) {

        var duration = duration*60;
        var timer = duration, minutes, seconds;
        var display = document.querySelector('#time');
        var displayFinal = document.querySelector('.timer');

        setInterval(function () {
            minutes = parseInt(timer / 60, 10)
            seconds = parseInt(timer % 60, 10);

            minutes = minutes < 10 ? "0" + minutes : minutes;
            seconds = seconds < 10 ? "0" + seconds : seconds;

            display.textContent = "Countdown " + minutes + ":" + seconds + " minutes";

            if (timer == 0) {
                displayFinal.textContent = "Finished";
                return;
            }

            if (--timer < 0) {
                timer = duration;
            }



        }, 1000);
    }


    socket.on('timer', function (data) {
        var duration = data.timer;
        startTimer(duration);
    });