//- Layout after here
header
.timer
    | Countdown &nbsp;
    span#time 02:00
    |  minutes.


//- Inline styles after here
style.
  .timer {
      text-align: center;
      font-size: 30px;
      vertical-align: middle;
      display: table-cell;
      height: 7em;
      width: 7em;
  }


//- Inline scripts after here
script.
    // Get the module element
    var module = document.getElementById('widget-#{widget._id}');

    function startTimer(duration) {
        var duration = duration*60;
        var timer = duration, minutes, seconds;
        var display = document.querySelector('#time');
        var displayFinal = document.querySelector('.timer');

        var refreshIntervalId = setInterval(function () {
            minutes = parseInt(timer / 60, 10)
            seconds = parseInt(timer % 60, 10);

            minutes = minutes < 10 ? "0" + minutes : minutes;
            seconds = seconds < 10 ? "0" + seconds : seconds;

            display.textContent = minutes + ":" + seconds;
            console.log (timer);

            if (timer == 0) {
                displayFinal.textContent = "Finished";
                clearInterval(refreshIntervalId);

                socket.emit('timer', {
                    msg: 'finish'
                });

                return;
            }

            if (--timer < 0) {
                timer = duration;
            }



        }, 1000);
    }

